.default-bg{
    background-color:#338F9A !important;
    color:#fff;
  }
.default-color{
    color:#338F9A !important;
  }
.default-border{
    border-color:#338F9A;
}
.banner-img{
    width: 300px;
    height: 300px;
}
.about-me-tabs Tab{
border: 1px solid gray;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .banner-img{
        width: 150px;
        height: 150px;
    }
  }