.App {
  /* text-align: center; */
  /* background-color:#282c34; */
  /* background-color: #95C99E; */
  font-family: 'Abril Fatface', cursive;
/* font-family: 'Alfa Slab One', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif; */

  min-height: 100%;
  font-family: Roboto;
}
.default-color{
  color:#338F9A !important;
}
.default-bg{
  background-color:#338F9A;
  color:#fff;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #6d9eff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
