.App {
  font-family: 'Abril Fatface', cursive;
  min-height: 100%;
  font-family: 'Roboto';
    font-family: 'Tahoma';
}
.default-color{
  color:#338F9A !important;
}
.default-bg{
  background-color:#338F9A;
  color:#fff;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.project-card:hover {
  background-color: #e2f6fa;
  box-shadow: 20px 20px 50px 10px grey;
}

.sub-header-box {
  background-color: #1C282A;
  padding: 20px 10%;
  color: #e2f6fa;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.pad-20 {
  padding: 0 20%;
}

.pad-10 {
  padding: 0 10%;
}
.skillCard:hover {
  box-shadow: 5px 5px 15px 5px grey;
}

.skillCard img {
  filter: grayscale(30%);
}

.skillCard:hover img {
  filter: grayscale(0%);
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #6d9eff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes borderGlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}